body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #FAF8EF; }
  body .board {
    background-color: #BBADA0;
    border-radius: 4px;
    position: relative; }
    body .board .cell {
      background-color: #CDC1B4;
      border-radius: 3px;
      position: absolute; }
    body .board .tile {
      position: absolute;
      background-color: #EEE4DA;
      border-radius: 3px;
      text-align: center;
      font-weight: bold;
      color: #776E65;
      font-size: 55px;
      -webkit-transform: scale(0.5);
      opacity: 0;
      z-index: 1; }
      body .board .tile.visible {
        -webkit-transform: scale(1);
        opacity: 1;
        transition: -webkit-transform .2s, top .1s, left .1s; }
      body .board .tile.num-2 {
        background-color: #eee4da; }
      body .board .tile.num-4 {
        background-color: #ede0c8; }
      body .board .tile.num-8 {
        color: #f9f6f2;
        background-color: #f2b179; }
      body .board .tile.num-16 {
        color: #f9f6f2;
        background-color: #f59563; }
      body .board .tile.num-32 {
        color: #f9f6f2;
        background-color: #f67c5f; }
      body .board .tile.num-64 {
        color: #f9f6f2;
        background-color: #f65e3b; }
      body .board .tile.num-128 {
        color: #f9f6f2;
        background-color: #edcf72;
        font-size: 45px; }
      body .board .tile.num-256 {
        color: #f9f6f2;
        background-color: #edcc61;
        font-size: 45px; }
      body .board .tile.num-512 {
        color: #f9f6f2;
        background-color: #edc850;
        font-size: 45px; }
      body .board .tile.num-1024 {
        color: #f9f6f2;
        background-color: #edc53f;
        font-size: 35px; }
      body .board .tile.num-2048 {
        color: #f9f6f2;
        background-color: #edc22e;
        font-size: 35px; }
  body .new-game {
    background-color: #8F7A66;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer; }
